body{
    margin: 0;
    height: 100vh;
    background-color: #1f2939;
    color: rgba(255, 255, 255, 0.7);
    font-family: sans-serif;
    text-align: center;
}
.photo{
    height: 150px;
    width: 150px;
    border: #1f2939 solid 1px;
    border-radius: 50%;
}
.photo-line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 2rem 0;
}
.line{
    flex: 1;
    height: 2px;
    border: none;
    background-color: #be9dfe;
}
p a{
    text-decoration: none;
    color: white;
    transition: 0.5;
}
p a:hover{
    background-color: #be9dfe;
}
p{
    font-size: 20px;
    margin-left: 510px;
    margin-right: 510px;
}
strong{
    color: #ffffff;
    opacity: 0.8;
}
.icons{
    height: 30px;
    width: 30px;
    color: #ffffff;
}
.icons-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
    margin: 50px;
}