body{
    margin: 0;
    background-color: darkgrey;
}
header{
    background-color: orange;
    display: flex;
    justify-content: space-around;
}
.logo{
    border-radius: 50%;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.navbar a{
    text-decoration: none;
}
.profile{
    border:  dashed 4px lightgrey;
    border-radius: 20%;
    box-sizing: border-box;
    
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
button{
    border-radius: 10px;
    background-color: darkgrey;
    color: lime
}