
* {
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.header {
    background-color: #3e82cb;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icon {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 8px;
    padding: 2px;
}

.header h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.header-menu ul li {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.header-menu ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.header-menu ul li:active {
    background-color: rgba(255, 255, 255, 0.3)
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sub-container {
    background-color: #f5f9fc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    flex: 1 1 300px;
}

.mid-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    flex: 1 1 300px;
}