
body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.header {
    background-color: #3e82cb;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    color: white;
    border-radius: 10px;
}

.header-icon {
    height: 40px;
    width: 40px;
}

.header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20%;
}

.header-menu ul li {
    display: inline;
}

.header-spacer {
    visibility: hidden;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sub-container {
    background-color: #f5f9fc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    flex: 1 1 300px;
}

.mid-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    flex: 1 1 300px;
}