img{
    border: dashed 4px green;
    padding: 20px 40px;
    box-sizing: border-box;
}
.main{
    background-color: green;
    width: 300px;
    height: 300px;
}
.parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}
.button{
    display: flex;
    justify-content: space-between;
}