.img{
    width: 50px;
    height: 50px;
}
.header{
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 55px;
}
li{
    list-style-type: none;
}
li:hover{
    border: dotted white 2px;
}
body{
    margin: 0;
}
ul{
    margin: 0;
    display: flex;
    justify-content: space-around;
    gap: 80px;
}