
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: center;
    font-size: x-small;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9%;
}

.header ul li {
    list-style-type: none;
}

.section1 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
}

.section1-img {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.section1-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.section1 div p {
    margin: 0;
    padding: 0;
    font-size: 1.7em;
}