img{
    border: dashed 4px lightgrey;
    border-radius: 20%;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
}
.main{
    background-color: grey;
    border-radius: 20%;
    width: 300px;
    height: 300px;
}
.button{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}
button{
    border-radius: 4px;
    background-color: grey;
    color: lime;
}
button:hover{
    background-color: orange;
}
body{
    background-color: darkgrey;
}